.nam-giua {
    text-align: center;
}
.o-giua{
    text-align: center;
}
,.col-6{
    padding-top: 5rem;
}
body {
    height: 100vh;
}
.home {
    border-bottom: 5px solid white;
}
a:hover{
    text-decoration:none;
    
}